@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Selfilla;
  src: url(../assets/fonts/Selfilla-dW3X.ttf);
}
@font-face {
  font-family: defaultFontSantayAjah;
  src: url(../assets/fonts/SantayAjah-Regular.ttf);
}

* {
  /* scrollbar-width: 30p; */
}

*::-webkit-scrollbar {
  /* display: none; */
}

body {
  font-family: defaultFontSantayAjah !important;
  color: #677081;
}

.personal-name-style {
  font-family: Selfilla;
}
