@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Selfilla;
  src: url(../assets/fonts/Selfilla-dW3X.ttf);
}
@font-face {
  font-family: defaultFontSantayAjah;
  src: url(../assets/fonts/SantayAjah-Regular.ttf);
}

body {
    font-family: defaultFontSantayAjah !important;
}

.personal-name-style {
    font-family: Selfilla;
}